:root {
  --active-folder-bg: #f5f8fa;
  --ocl-icon-size: 32px;
  --folder-text-color: #01a292;
}

.jstree-node > .jstree-anchor {
  color: var(--folder-text-color);
  font-size: 1.075rem !important;
}

.jstree-node > .jstree-anchor.jstree-hovered {
  background: none;
  border: 0;
  box-shadow: none;
}

.jstree-node > .jstree-anchor:hover {
  background-color: var(--active-folder-bg);
}

.jstree-node > .jstree-anchor.jstree-clicked {
  background-color: var(--active-folder-bg);
  font-weight: 600;
  border: 0;
  box-shadow: none;
}

  /* Open / close folder icon */
  .jstree-node.jstree-open>.jstree-ocl,
  .jstree-node.jstree-closed>.jstree-ocl {
    width: var(--ocl-icon-size);
    height: var(--ocl-icon-size);
    background-repeat: no-repeat;
    background-position: center !important;
    background-size: 14px;
    line-height: var(--ocl-icon-size);
  }

  .jstree-node.jstree-closed>.jstree-ocl {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewBox='0 0 24 24' version='1.1'%3E%3Crect fill='%23000000' x='4' y='11' width='16' height='2' rx='1'/%3E%3Crect fill='%23000000' opacity='0.5' transform='translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) ' x='4' y='11' width='16' height='2' rx='1'/%3E%3C/svg%3E%0A");
  }

  .jstree-node.jstree-open>.jstree-ocl {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewBox='0 0 24 24' version='1.1'%3E%3Crect fill='%23000000' x='4' y='11' width='16' height='2' rx='1'/%3E%3C/svg%3E%0A");
  }

  /* Folder image */
  .jstree-node > .jstree-anchor .jstree-icon {
    background-repeat: no-repeat !important;
    background-size: 24px !important;
    background-position: center !important;
  }

  .jstree-node > .jstree-anchor.jstree-clicked .jstree-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' viewBox='0 -256 1792 1792' version='1.1' inkscape:version='0.48.3.1 r9886' width='100%25' height='100%25' sodipodi:docname='folder_close_font_awesome.svg'%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs/%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='640' inkscape:window-height='480' showgrid='false' inkscape:zoom='0.13169643' inkscape:cx='896' inkscape:cy='896' inkscape:window-x='0' inkscape:window-y='25' inkscape:window-maximized='0' inkscape:current-layer='svg2989' /%3E%3Cg transform='matrix(1,0,0,-1,68.338988,1368.9491)'%3E%3Cpath d='M 1664,928 V 224 Q 1664,132 1598,66 1532,0 1440,0 H 224 Q 132,0 66,66 0,132 0,224 v 960 q 0,92 66,158 66,66 158,66 h 320 q 92,0 158,-66 66,-66 66,-158 v -32 h 672 q 92,0 158,-66 66,-66 66,-158 z' inkscape:connector-curvature='0' style='fill:hsl(174deg 99%25 32%25)' /%3E%3C/g%3E%3C/svg%3E") !important;
  }

  .jstree-node > .jstree-anchor:not(.jstree-clicked) .jstree-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' viewBox='0 -256 1792 1792' version='1.1' inkscape:version='0.48.3.1 r9886' width='100%25' height='100%25' sodipodi:docname='folder_close_font_awesome.svg'%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs/%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='640' inkscape:window-height='480' showgrid='false' inkscape:zoom='0.13169643' inkscape:cx='896' inkscape:cy='896' inkscape:window-x='0' inkscape:window-y='25' inkscape:window-maximized='0' inkscape:current-layer='svg2989' /%3E%3Cg transform='matrix(1,0,0,-1,68.338988,1368.9491)'%3E%3Cpath d='M 1664,928 V 224 Q 1664,132 1598,66 1532,0 1440,0 H 224 Q 132,0 66,66 0,132 0,224 v 960 q 0,92 66,158 66,66 158,66 h 320 q 92,0 158,-66 66,-66 66,-158 v -32 h 672 q 92,0 158,-66 66,-66 66,-158 z' inkscape:connector-curvature='0' opacity='.25' style='fill:hsl(232deg 18%25 9%25 .25)' /%3E%3C/g%3E%3C/svg%3E%0A") !important;
  }

  .jstree-node.jstree-open > .jstree-anchor.jstree-clicked .jstree-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' viewBox='0 -256 1950 1950' version='1.1' inkscape:version='0.48.3.1 r9886' width='100%25' height='100%25' sodipodi:docname='folder_open_font_awesome.svg'%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs/%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='640' inkscape:window-height='480' showgrid='false' inkscape:zoom='0.13169643' inkscape:cx='939.5' inkscape:cy='896' inkscape:window-x='0' inkscape:window-y='25' inkscape:window-maximized='0' inkscape:current-layer='svg3013' /%3E%3Cg transform='matrix(1,0,0,-1,60.745763,1405.4576)'%3E%3Cpath d='m 1879,584 q 0,-31 -31,-66 L 1512,122 Q 1469,71 1391.5,35.5 1314,0 1248,0 H 160 Q 126,0 99.5,13 73,26 73,56 q 0,31 31,66 l 336,396 q 43,51 120.5,86.5 Q 638,640 704,640 h 1088 q 34,0 60.5,-13 26.5,-13 26.5,-43 z M 1536,928 V 768 H 704 Q 610,768 507,720.5 404,673 343,601 L 6,205 1,199 Q 1,203 0.5,211.5 0,220 0,224 v 960 q 0,92 66,158 66,66 158,66 h 320 q 92,0 158,-66 66,-66 66,-158 v -32 h 544 q 92,0 158,-66 66,-66 66,-158 z' inkscape:connector-curvature='0' style='fill:hsl(174deg 99%25 32%25)' /%3E%3C/g%3E%3C/svg%3E%0A") !important;
  }

  .jstree-node.jstree-open > .jstree-anchor:not(.jstree-clicked) .jstree-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' viewBox='0 -256 1950 1950' version='1.1' inkscape:version='0.48.3.1 r9886' width='100%25' height='100%25' sodipodi:docname='folder_open_font_awesome.svg'%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs/%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='640' inkscape:window-height='480' showgrid='false' inkscape:zoom='0.13169643' inkscape:cx='939.5' inkscape:cy='896' inkscape:window-x='0' inkscape:window-y='25' inkscape:window-maximized='0' inkscape:current-layer='svg3013' /%3E%3Cg transform='matrix(1,0,0,-1,60.745763,1405.4576)'%3E%3Cpath d='m 1879,584 q 0,-31 -31,-66 L 1512,122 Q 1469,71 1391.5,35.5 1314,0 1248,0 H 160 Q 126,0 99.5,13 73,26 73,56 q 0,31 31,66 l 336,396 q 43,51 120.5,86.5 Q 638,640 704,640 h 1088 q 34,0 60.5,-13 26.5,-13 26.5,-43 z M 1536,928 V 768 H 704 Q 610,768 507,720.5 404,673 343,601 L 6,205 1,199 Q 1,203 0.5,211.5 0,220 0,224 v 960 q 0,92 66,158 66,66 158,66 h 320 q 92,0 158,-66 66,-66 66,-158 v -32 h 544 q 92,0 158,-66 66,-66 66,-158 z' inkscape:connector-curvature='0' opacity='.25' style='fill:hsl(232deg 18%25 9%25 .25)' /%3E%3C/g%3E%3C/svg%3E%0A") !important;
  }

/* Context menu */
.vakata-context, .vakata-context ul {
  border-radius: .475rem;
  background-color: #fff;
  box-shadow: 0 0 50px 0 rgb(82 63 105 / 15%);
  border:  0;
}

  .vakata-context li>a {
    color: #181C33;
  }

  .vakata-context li>a:hover {
    color: hsl(174deg 99% 32%);
    background-color: hsl(174deg 99% 93%);
    box-shadow: none;
  }

    .vakata-context li>a .vakata-contextmenu-sep {
      border: 0;
      background: none;
    }

/* output */
#output p {
  width: fit-content;
  white-space: nowrap;
}

#output :first-child {
  background-color: #f5f8fa;
}