:root {
  --jstree-border-radius: .475rem;
  --jstree-active-color: hsl(190deg, 96%, 22%);
  --jstree-light-color: hsl(190deg, 96%, 97%);
  --jstree-context-width: 150px;;
  --jstree-anchor-width: 200px;;
}

.jstree-node > .jstree-anchor {
  display: inline-flex;
  color: var(--jstree-active-color);
  font-size: 1.075rem !important;
  height: auto;
}

.jstree-node > .jstree-anchor.jstree-hovered {
  background: none;
  border: 0;
  box-shadow: none;
}

.jstree-node > .jstree-anchor:hover {
  /* background-color: hsl(190deg, 96%, 97%); */
  font-weight: 600;
}

.jstree-node > .jstree-anchor.jstree-clicked {
  background-color: var(--jstree-light-color);
  font-weight: 600;
  border: 0;
  box-shadow: none;
}

  /* Open / close folder icon */
  .jstree-node.jstree-open>.jstree-ocl,
  .jstree-node.jstree-closed>.jstree-ocl {
    /* width: 32px !important; */
    /* height: 32px !important; */
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 14px !important;
    /* line-height: 32px; */
  }

  .jstree-node.jstree-closed>.jstree-ocl {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewBox='0 0 24 24' version='1.1'%3E%3Crect fill='%23000000' x='4' y='11' width='16' height='2' rx='1'/%3E%3Crect fill='%23000000' opacity='0.5' transform='translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) ' x='4' y='11' width='16' height='2' rx='1'/%3E%3C/svg%3E%0A") !important;
  }

  .jstree-node.jstree-open>.jstree-ocl {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewBox='0 0 24 24' version='1.1'%3E%3Crect fill='%23000000' x='4' y='11' width='16' height='2' rx='1'/%3E%3C/svg%3E%0A");
  }

  /* Folder image */
  .jstree-node > .jstree-anchor .jstree-icon {
    background-repeat: no-repeat !important;
    background-size: 20px !important;
    background-position: center !important;
  }

  .jstree-default-large .jstree-node > .jstree-anchor .jstree-icon {
    background-size: 24px !important;
  }

  .jstree-node > .jstree-anchor.jstree-clicked .jstree-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' viewBox='0 -256 1792 1792' version='1.1' inkscape:version='0.48.3.1 r9886' width='100%25' height='100%25' sodipodi:docname='folder_close_font_awesome.svg'%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs/%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='640' inkscape:window-height='480' showgrid='false' inkscape:zoom='0.13169643' inkscape:cx='896' inkscape:cy='896' inkscape:window-x='0' inkscape:window-y='25' inkscape:window-maximized='0' inkscape:current-layer='svg2989' /%3E%3Cg transform='matrix(1,0,0,-1,68.338988,1368.9491)'%3E%3Cpath d='M 1664,928 V 224 Q 1664,132 1598,66 1532,0 1440,0 H 224 Q 132,0 66,66 0,132 0,224 v 960 q 0,92 66,158 66,66 158,66 h 320 q 92,0 158,-66 66,-66 66,-158 v -32 h 672 q 92,0 158,-66 66,-66 66,-158 z' inkscape:connector-curvature='0' style='fill:hsl(190deg, 96%, 22%)' /%3E%3C/g%3E%3C/svg%3E") !important;
  }

  .jstree-node > .jstree-anchor:not(.jstree-clicked) .jstree-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' viewBox='0 -256 1792 1792' version='1.1' inkscape:version='0.48.3.1 r9886' width='100%25' height='100%25' sodipodi:docname='folder_close_font_awesome.svg'%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs/%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='640' inkscape:window-height='480' showgrid='false' inkscape:zoom='0.13169643' inkscape:cx='896' inkscape:cy='896' inkscape:window-x='0' inkscape:window-y='25' inkscape:window-maximized='0' inkscape:current-layer='svg2989' /%3E%3Cg transform='matrix(1,0,0,-1,68.338988,1368.9491)'%3E%3Cpath d='M 1664,928 V 224 Q 1664,132 1598,66 1532,0 1440,0 H 224 Q 132,0 66,66 0,132 0,224 v 960 q 0,92 66,158 66,66 158,66 h 320 q 92,0 158,-66 66,-66 66,-158 v -32 h 672 q 92,0 158,-66 66,-66 66,-158 z' inkscape:connector-curvature='0' opacity='.25' style='fill:hsl(190deg, 96%, 22%)' /%3E%3C/g%3E%3C/svg%3E%0A") !important;
  }

  .jstree-node > .jstree-anchor:not(.jstree-clicked):hover .jstree-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' viewBox='0 -256 1792 1792' version='1.1' inkscape:version='0.48.3.1 r9886' width='100%25' height='100%25' sodipodi:docname='folder_close_font_awesome.svg'%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs/%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='640' inkscape:window-height='480' showgrid='false' inkscape:zoom='0.13169643' inkscape:cx='896' inkscape:cy='896' inkscape:window-x='0' inkscape:window-y='25' inkscape:window-maximized='0' inkscape:current-layer='svg2989' /%3E%3Cg transform='matrix(1,0,0,-1,68.338988,1368.9491)'%3E%3Cpath d='M 1664,928 V 224 Q 1664,132 1598,66 1532,0 1440,0 H 224 Q 132,0 66,66 0,132 0,224 v 960 q 0,92 66,158 66,66 158,66 h 320 q 92,0 158,-66 66,-66 66,-158 v -32 h 672 q 92,0 158,-66 66,-66 66,-158 z' inkscape:connector-curvature='0' opacity='1' style='fill:hsl(190deg, 96%, 22%)' /%3E%3C/g%3E%3C/svg%3E%0A") !important;
  }

  .jstree-node.jstree-open > .jstree-anchor.jstree-clicked .jstree-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' viewBox='0 -256 1950 1950' version='1.1' inkscape:version='0.48.3.1 r9886' width='100%25' height='100%25' sodipodi:docname='folder_open_font_awesome.svg'%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs/%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='640' inkscape:window-height='480' showgrid='false' inkscape:zoom='0.13169643' inkscape:cx='939.5' inkscape:cy='896' inkscape:window-x='0' inkscape:window-y='25' inkscape:window-maximized='0' inkscape:current-layer='svg3013' /%3E%3Cg transform='matrix(1,0,0,-1,60.745763,1405.4576)'%3E%3Cpath d='m 1879,584 q 0,-31 -31,-66 L 1512,122 Q 1469,71 1391.5,35.5 1314,0 1248,0 H 160 Q 126,0 99.5,13 73,26 73,56 q 0,31 31,66 l 336,396 q 43,51 120.5,86.5 Q 638,640 704,640 h 1088 q 34,0 60.5,-13 26.5,-13 26.5,-43 z M 1536,928 V 768 H 704 Q 610,768 507,720.5 404,673 343,601 L 6,205 1,199 Q 1,203 0.5,211.5 0,220 0,224 v 960 q 0,92 66,158 66,66 158,66 h 320 q 92,0 158,-66 66,-66 66,-158 v -32 h 544 q 92,0 158,-66 66,-66 66,-158 z' inkscape:connector-curvature='0' style='fill:hsl(190deg, 96%, 22%)' /%3E%3C/g%3E%3C/svg%3E%0A") !important;
  }

  .jstree-node.jstree-open > .jstree-anchor:not(.jstree-clicked) .jstree-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' viewBox='0 -256 1950 1950' version='1.1' inkscape:version='0.48.3.1 r9886' width='100%25' height='100%25' sodipodi:docname='folder_open_font_awesome.svg'%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs/%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='640' inkscape:window-height='480' showgrid='false' inkscape:zoom='0.13169643' inkscape:cx='939.5' inkscape:cy='896' inkscape:window-x='0' inkscape:window-y='25' inkscape:window-maximized='0' inkscape:current-layer='svg3013' /%3E%3Cg transform='matrix(1,0,0,-1,60.745763,1405.4576)'%3E%3Cpath d='m 1879,584 q 0,-31 -31,-66 L 1512,122 Q 1469,71 1391.5,35.5 1314,0 1248,0 H 160 Q 126,0 99.5,13 73,26 73,56 q 0,31 31,66 l 336,396 q 43,51 120.5,86.5 Q 638,640 704,640 h 1088 q 34,0 60.5,-13 26.5,-13 26.5,-43 z M 1536,928 V 768 H 704 Q 610,768 507,720.5 404,673 343,601 L 6,205 1,199 Q 1,203 0.5,211.5 0,220 0,224 v 960 q 0,92 66,158 66,66 158,66 h 320 q 92,0 158,-66 66,-66 66,-158 v -32 h 544 q 92,0 158,-66 66,-66 66,-158 z' inkscape:connector-curvature='0' opacity='.25' style='fill:hsl(190deg, 96%, 22%)' /%3E%3C/g%3E%3C/svg%3E%0A") !important;
  }

  .jstree-node.jstree-open > .jstree-anchor:not(.jstree-clicked):hover .jstree-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' viewBox='0 -256 1950 1950' version='1.1' inkscape:version='0.48.3.1 r9886' width='100%25' height='100%25' sodipodi:docname='folder_open_font_awesome.svg'%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs/%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='640' inkscape:window-height='480' showgrid='false' inkscape:zoom='0.13169643' inkscape:cx='939.5' inkscape:cy='896' inkscape:window-x='0' inkscape:window-y='25' inkscape:window-maximized='0' inkscape:current-layer='svg3013' /%3E%3Cg transform='matrix(1,0,0,-1,60.745763,1405.4576)'%3E%3Cpath d='m 1879,584 q 0,-31 -31,-66 L 1512,122 Q 1469,71 1391.5,35.5 1314,0 1248,0 H 160 Q 126,0 99.5,13 73,26 73,56 q 0,31 31,66 l 336,396 q 43,51 120.5,86.5 Q 638,640 704,640 h 1088 q 34,0 60.5,-13 26.5,-13 26.5,-43 z M 1536,928 V 768 H 704 Q 610,768 507,720.5 404,673 343,601 L 6,205 1,199 Q 1,203 0.5,211.5 0,220 0,224 v 960 q 0,92 66,158 66,66 158,66 h 320 q 92,0 158,-66 66,-66 66,-158 v -32 h 544 q 92,0 158,-66 66,-66 66,-158 z' inkscape:connector-curvature='0' opacity='1' style='fill:hsl(190deg, 96%, 22%)' /%3E%3C/g%3E%3C/svg%3E%0A") !important;
  }

  .jstree-node > .jstree-anchor .jstree-anchor-text {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    white-space: pre-wrap;
    word-break: break-word;
    max-width: var(--jstree-anchor-width);
  }

.vakata-context,
.vakata-context ul {
  border-radius: var(--jstree-border-radius);
  background-color: #fff;
  box-shadow: 0 0 50px 0 rgb(82 63 105 / 15%);
  border:  0;
  padding: 0;
}

  .vakata-context li>a {
    display: flex;
    align-items: center;
    color: #181C33;
    text-shadow: none;
    font-weight: 600;
    /* border-radius: var(--jstree-border-radius); */
    padding: .75rem 3rem .75rem 1rem;
    /* padding: 0.65rem 1rem; */
    min-width: var(--jstree-context-width);
    line-height: unset;
  }

  .vakata-context li:first-child>a {
    border-top-left-radius: var(--jstree-border-radius);
    border-top-right-radius: var(--jstree-border-radius);
  }

  .vakata-context li:last-child>a {
    border-bottom-left-radius: var(--jstree-border-radius);
    border-bottom-right-radius: var(--jstree-border-radius);
  }

  .vakata-context li>a:hover,
  .vakata-context .vakata-context-hover>a {
    /* color: var(--jstree-active-color);
    background-color: hsl(190deg, 96%, 97%); */
    color: #fff;
    background-color: var(--jstree-active-color);
    box-shadow: none;
  }

    .vakata-context li>a .vakata-contextmenu-sep {
      /* border: 0; */
      /* background: none; */
      height: auto;
    }

      .vakata-context li>a i {
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: 24px !important;
        margin: 0;
        width: 24px;
        height: 24px;
      }

      .vakata-context li.jstree-contextmenu-create>a i {
        background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fad' data-icon='plus' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cstyle%3E .secondary %7B fill: hsl(210deg, 11%, 16%); opacity: 0.4; %7D .primary %7B fill: hsl(210deg, 11%, 16%); opacity: 1; %7D %3C/style%3E%3Cg%3E%3Cpath fill='currentColor' d='M176 448a32 32 0 0 0 32 32h32a32 32 0 0 0 32-32V304h-96zm64-416h-32a32 32 0 0 0-32 32v144h96V64a32 32 0 0 0-32-32z' class='secondary'%3E%3C/path%3E%3Cpath fill='currentColor' d='M448 240v32a32 32 0 0 1-32 32H32a32 32 0 0 1-32-32v-32a32 32 0 0 1 32-32h384a32 32 0 0 1 32 32z' class='primary'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") !important;
        background-size: 16px !important;
      }

      .vakata-context li.jstree-contextmenu-create>a:hover i,
      .vakata-context li.jstree-contextmenu-create.vakata-context-hover>a i {
        background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fad' data-icon='plus' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cstyle%3E .secondary %7B fill: hsl(210deg, 11%, 90%); opacity: 0.4; %7D .primary %7B fill: hsl(210deg, 11%, 90%); opacity: 1; %7D %3C/style%3E%3Cg%3E%3Cpath fill='currentColor' d='M176 448a32 32 0 0 0 32 32h32a32 32 0 0 0 32-32V304h-96zm64-416h-32a32 32 0 0 0-32 32v144h96V64a32 32 0 0 0-32-32z' class='secondary'%3E%3C/path%3E%3Cpath fill='currentColor' d='M448 240v32a32 32 0 0 1-32 32H32a32 32 0 0 1-32-32v-32a32 32 0 0 1 32-32h384a32 32 0 0 1 32 32z' class='primary'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") !important;
      }

      .vakata-context li.jstree-contextmenu-rename>a i {
        background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fad' data-icon='edit' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cstyle%3E .secondary %7B fill: hsl(210deg, 11%, 16%); opacity: 0.4; %7D .primary %7B fill: hsl(210deg, 11%, 16%); opacity: 1; %7D %3C/style%3E%3Cg%3E%3Cpath fill='currentColor' d='M564.6 60.2l-48.8-48.8a39.11 39.11 0 0 0-55.2 0l-35.4 35.4a9.78 9.78 0 0 0 0 13.8l90.2 90.2a9.78 9.78 0 0 0 13.8 0l35.4-35.4a39.11 39.11 0 0 0 0-55.2zM427.5 297.6l-40 40a12.3 12.3 0 0 0-3.5 8.5v101.8H64v-320h229.8a12.3 12.3 0 0 0 8.5-3.5l40-40a12 12 0 0 0-8.5-20.5H48a48 48 0 0 0-48 48v352a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48V306.1a12 12 0 0 0-20.5-8.5z' class='secondary'%3E%3C/path%3E%3Cpath fill='currentColor' d='M492.8 173.3a9.78 9.78 0 0 1 0 13.8L274.4 405.5l-92.8 10.3a19.45 19.45 0 0 1-21.5-21.5l10.3-92.8L388.8 83.1a9.78 9.78 0 0 1 13.8 0z' class='primary'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") !important;
      }

      .vakata-context li.jstree-contextmenu-rename>a:hover i,
      .vakata-context li.jstree-contextmenu-rename.vakata-context-hover>a i {
        background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fad' data-icon='edit' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cstyle%3E .secondary %7B fill: hsl(210deg, 11%, 90%); opacity: 0.4; %7D .primary %7B fill: hsl(210deg, 11%, 90%); opacity: 1; %7D %3C/style%3E%3Cg%3E%3Cpath fill='currentColor' d='M564.6 60.2l-48.8-48.8a39.11 39.11 0 0 0-55.2 0l-35.4 35.4a9.78 9.78 0 0 0 0 13.8l90.2 90.2a9.78 9.78 0 0 0 13.8 0l35.4-35.4a39.11 39.11 0 0 0 0-55.2zM427.5 297.6l-40 40a12.3 12.3 0 0 0-3.5 8.5v101.8H64v-320h229.8a12.3 12.3 0 0 0 8.5-3.5l40-40a12 12 0 0 0-8.5-20.5H48a48 48 0 0 0-48 48v352a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48V306.1a12 12 0 0 0-20.5-8.5z' class='secondary'%3E%3C/path%3E%3Cpath fill='currentColor' d='M492.8 173.3a9.78 9.78 0 0 1 0 13.8L274.4 405.5l-92.8 10.3a19.45 19.45 0 0 1-21.5-21.5l10.3-92.8L388.8 83.1a9.78 9.78 0 0 1 13.8 0z' class='primary'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") !important;
      }

      .vakata-context li.jstree-contextmenu-remove>a i {
        background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fad' data-icon='trash' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cstyle%3E .secondary %7B fill: hsl(210deg, 11%, 16%); opacity: 0.4; %7D .primary %7B fill: hsl(210deg, 11%, 16%); opacity: 1; %7D %3C/style%3E%3Cg%3E%3Cpath fill='currentColor' d='M53.2 467L32 96h384l-21.2 371a48 48 0 0 1-47.9 45H101.1a48 48 0 0 1-47.9-45z' class='secondary'%3E%3C/path%3E%3Cpath fill='currentColor' d='M0 80V48a16 16 0 0 1 16-16h120l9.4-18.7A23.72 23.72 0 0 1 166.8 0h114.3a24 24 0 0 1 21.5 13.3L312 32h120a16 16 0 0 1 16 16v32a16 16 0 0 1-16 16H16A16 16 0 0 1 0 80z' class='primary'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") !important;
        background-size: 20px !important;
      }

      .vakata-context li.jstree-contextmenu-remove>a:hover i,
      .vakata-context li.jstree-contextmenu-remove.vakata-context-hover>a i {
        background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fad' data-icon='trash' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cstyle%3E .secondary %7B fill: hsl(210deg, 11%, 90%); opacity: 0.4; %7D .primary %7B fill: hsl(210deg, 11%, 90%); opacity: 1; %7D %3C/style%3E%3Cg%3E%3Cpath fill='currentColor' d='M53.2 467L32 96h384l-21.2 371a48 48 0 0 1-47.9 45H101.1a48 48 0 0 1-47.9-45z' class='secondary'%3E%3C/path%3E%3Cpath fill='currentColor' d='M0 80V48a16 16 0 0 1 16-16h120l9.4-18.7A23.72 23.72 0 0 1 166.8 0h114.3a24 24 0 0 1 21.5 13.3L312 32h120a16 16 0 0 1 16 16v32a16 16 0 0 1-16 16H16A16 16 0 0 1 0 80z' class='primary'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") !important;
        background-size: 20px !important;
      }